*{
    box-sizing: border-box;
}
[class*="col-"]{
    float: left;
}

.nav {
    padding-left: 6%;
    padding-top: 2%;
    padding-right: 6%;
}
.banner-sec {
    padding-top: 40px;
    padding-left: 6%
}
.banner-sec > div {
    margin-bottom: 30px;
}

.hat_image {
    background-image: url("https://i.ibb.co/cvpntL1/hats.png");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat; 

}
.empty_div {
    height: 5px;
}
.jacket_image {
    background-image: url("https://i.ibb.co/px2tCc3/jackets.png");
    height: 300px;
  background-size: cover;
    background-repeat: no-repeat;
  

}
.sneakers_image {
    background-image: url("https://i.ibb.co/0jqHpnp/sneakers.png");
    height: 300px;
  background-size: cover;
    background-repeat: no-repeat;
   
}
.women_image {
    background-image: url("https://i.ibb.co/GCCdy8t/womens.png");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.men_image {
    background-image: url("https://i.ibb.co/R70vBrQ/men.png");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat
}
.banner-down{
    padding-left: 6%;
}
.banner-down > div {
    margin-bottom: 30px;
}
.brown_brim {
    background-image: url("https://i.ibb.co/ZYW3VTp/brown-brim.png");
    /* background:  url('brown-brim.png'); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.banner-down > div:hover,.banner-sec > div:hover {
    opacity: 0.8;
}
.blue_beanie {
    background-image: url("https://i.ibb.co/ypkgK0X/blue-beanie.png");
    /* background-image: url("blue-beanie.png"); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.brown_cowboy {
    background-image: url("https://i.ibb.co/QdJwgmp/brown-cowboy.png");
    /* background-image:  url("brown-cowboy.png"); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.grey_brim {
    background-image: url("https://i.ibb.co/RjBLWxB/grey-brim.png");
    /* background-image: url("grey-brim.png"); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.adidas {
    background-image: url("https://i.ibb.co/0s3pdnc/adidas-nmd.png");
    /* background-image: url("adidas-nmd.png"); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.yeezy {
    background-image: url("https://i.ibb.co/dJbG1cT/yeezy.png");
    /* background-image:url("yeezy.png"); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.black_converse {
    background-image: url("https://i.ibb.co/bPmVXyP/black-converse.png");
    /* background-image:url("black-converse.png"); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.nike {
    background-image: url("https://i.ibb.co/1RcFPk0/white-nike-high-tops.png");
    /* background-image:url("white-nike-high-tops.png"); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.shop_button {
    width: 80%;
    opacity: 1.0;
    position: absolute;
    color:black;
    padding:15px;
    left:22px;
    top: 220px;
    border:1px solid black;
    display: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
.shop_button:hover {
    color:white;
    background-color: black;
    opacity: 1.0;
}
.price {
    padding-top: 310px;
    font-size: 18px;
}
.price > span:first-child {
    float: left;
}
.price > span:nth-child(2) {
  float: right;
}
.black_shearling {
    background-image:url("https://i.ibb.co/XzcwL5s/black-shearling.png");
    /* background-image: url('black-shearling.png'); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.blue_jean_jacket {
    background-image:url("https://i.ibb.co/mJS6vz0/blue-jean-jacket.png");
    /* background-image: url('blue-jean-jacket.png'); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.grey_jean_jacket {
    background-image:url("https://i.ibb.co/N71k1ML/grey-jean-jacket.png");
    /* background-image: url('grey-jean-jacket.png'); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.brown_shearling{
    background-image:url("https://i.ibb.co/s96FpdP/brown-shearling.png");
    /* background-image: url('brown-shearling.png'); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.blue_tank{
    background-image: url("https://i.ibb.co/7CQVJNm/blue-tank.png");
    /* background-image: url('blue-tank.png'); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.floral_blouse{
    background-image: url("https://i.ibb.co/4W2DGKm/floral-blouse.png");
    /* background-image: url('floral-blouse.png'); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.floral_skirt{
    background-image: url("https://i.ibb.co/KV18Ysr/floral-skirt.png");
    /* background-image: url('floral-skirt.png'); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.red_polka_dot_dress{
    background-image: url("https://i.ibb.co/N3BN1bh/red-polka-dot-dress.png");
    /* background-image: url('red-polka-dot-dress.png'); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.camo_vest{
    background-image: url("https://i.ibb.co/xJS0T3Y/camo-vest.png");
    /* background-image: url('camo-vest.png'); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.floral_shirt{
    background-image: url("https://i.ibb.co/qMQ75QZ/floral-shirt.png");
    /* background-image: url('floral-shirt.png'); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.long_sleeve{
    background-image: url("https://i.ibb.co/55z32tw/long-sleeve.png");
    /* background-image: url('long-sleeve.png'); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.pink_shirt{
    background-image: url("https://i.ibb.co/RvwnBL8/pink-shirt.png");
    /* background-image: url('pink-shirt.png'); */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.footer_div {
    margin-bottom: 50px;
}
.cart-icon .shopping-icon {
    width: 24px;
    height: 24px;
}
.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: right;
}
.cart-icon .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: 700;
    bottom: 12px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 767px){
    .col-xs-1 {width: 8.33%;}
   .col-xs-2 {width: 16.66%;}
   .col-xs-3 {width: 25%;}
   .col-xs-4 {width: 33.33%;}
   .col-xs-5 {width: 41.66%;}
   .col-xs-6 {width: 50%;}
   .col-xs-7 {width: 58.33%;}
   .col-xs-8 {width: 66.66%;}
   .col-xs-9 {width: 75%;}
   .col-xs-10 {width: 83.33%;}
   .col-xs-11 {width: 91.66%;}
   .col-xs-12 {width: 100%;}
   }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .col-sm-1 {width: 8.33%;}
   .col-sm-2 {width: 16.66%;}
   .col-sm-3 {width: 25%;}
   .col-sm-4 {width: 33.33%;}
   .col-sm-5 {width: 41.66%;}
   .col-sm-6 {width: 50%;}
   .col-sm-7 {width: 58.33%;}
   .col-sm-8 {width: 66.66%;}
   .col-sm-9 {width: 75%;}
   .col-sm-10 {width: 83.33%;}
   .col-sm-11 {width: 91.66%;}
   .col-sm-12 {width: 100%;}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .col-md-1 {width: 8.33%;}
    .col-md-1a {width: 5%;}
    .col-md-2b {width: 3.33%;}
   .col-md-2 {width: 16.66%;}
   .col-md-2a {width: 21%;}
   .col-md-3 {width: 25%;}
   .col-md-3a {width: 28%;}
   .col-md-4 {width: 33.33%;}
   .col-md-5 {width: 41.66%;}
   .col-md-5a {width: 44.5%;}
   .col-md-6 {width: 50%;}
   .col-md-7 {width: 58.33%;}
   .col-md-8 {width: 66.66%;}
   .col-md-9 {width: 75%;}
   .col-md-10 {width: 83.33%;}
   .col-md-11 {width: 91.66%;}
   .col-md-12 {width: 100%;}
}
@media only screen and (min-width: 1200px) {
   .col-lg-1 {width: 8.33%;}
   .col-lg-1a {width: 5%;}
   .col-lg-2b {width: 3.33%;}
   .col-lg-2 {width: 16.66%;}
   .col-lg-2a {width: 21%;}
   .col-lg-3 {width: 25%;}
   .col-lg-3a {width: 28%;}
   .col-lg-4 {width: 33.33%;}
   .col-lg-5 {width: 41.66%;}
   .col-lg-5a {width: 44.5%;}
   .col-lg-6 {width: 50%;}
   .col-lg-7 {width: 58.33%;}
   .col-lg-8 {width: 66.66%;}
   .col-lg-9 {width: 75%;}
   .col-lg-10 {width: 83.33%;}
   .col-lg-11 {width: 91.66%;}
   .col-lg-12 {width: 100%;}
}

body{
    padding: 0px !important;
    margin:0px !important;
}